* body {
    background: rgb(201, 230, 238);
}
header>h1 {
    text-align: center;
    background: white;
    color: blue;
}

.main-container {
    display: flex;
}

/* display style */
.container-item {
    border: 1px solid;
    width: 100%;
    padding: 24px;
}

.container-item>h2 {
    text-align: center;
}

.container-result, .container-form {
    text-align: center;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container-form {
     text-align: left;
     background-color: aliceblue;
     padding: 24px;
}

.input-data {
    height: 40px;
    width: 400px;
    background-color: lightgray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.cotainer-form>div {
    padding: 8px;
}

#contain-label {
    font-weight: bold;
}
button {
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
}

#calculate-button {
    background-color: lightblue;
    color: blue;
    border: none;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#calculate-button-r {
    background-color: orangered;
    color: white;
    border: none;
    height: 40px;
     border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}