* body {
    background: rgb(201, 230, 238);
}
header>h1 {
    text-align: center;
    background: white;
}

.main-container {
    display: flex;
}

/* display style */
.container-item {
    border: 1px solid;
    width: 100%;
    padding: 24px;
}

.container-item>h2 {
    text-align: center;
}

.container-result, .container-form {
    text-align: center;
    background-color: aliceblue;
    padding-top: 8px;
    padding-bottom: 24px;
}

.container-form {
    text-align: left;
     background-color: aliceblue;
     padding: 24px;
}

.cotainer-form>div {
    padding: 8px;
}

#input form {
    padding: 10 px;
}

button {
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
}

#calculate-button {
    background-color: lightblue;
    color: blue;
    border: none;
}